:root {
    --bg-color-head: #1c1c21;
}

* {
    box-sizing: border-box; 
}
html {
    overflow-y: scroll;
    overflow-y: overlay;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a {
    color: #4c4cff;
    text-decoration: none;
}

.m-auto {
    margin: auto !important;
}
.m-0-auto {
    margin: 0 auto !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}
.align-center {
    text-align: center;
}
img {
    pointer-events: none;
}
main {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    flex: 1;
}

.section {
    display: flex;
    justify-content: center;

    // .section .img404
    & .img404 {
        max-width: 100%;
    }
}

.section-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // .section-auth__span-mobile
    &__span-mobile {
        display: block;
    }
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    height: 100%;

    @media (orientation: portrait), (max-width: 1150px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 100%));
    }
}

.button-locked {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

a,
button,
.remove-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input {
    transition: width 0s, border 0.3s;

    // .input__mobile
    // .input__mobile > div
    &__mobile,
    &__mobile > div {
        width: 100%;
        max-width: 480px;
        transition: width 0s, border 0.3s;
    }
}

/* немножечко переобпределим стили Яндекса */
.custom-tabs {
    display: flex;

    @media (orientation: portrait), (max-width: 1150px) {
        margin: 0 -16px;
    }
    // .custom-tabs div.tab
    & div.tab {
        min-width: unset !important;
        width: 100% !important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

@media (orientation: portrait), (max-width: 1150px) {
    .custom-scroll {
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;

        // .ingredients::-webkit-scrollbar
        &::-webkit-scrollbar {
            display: none !important;
        }
    }
}

.button_size_small {
    font-family: "Jet Brains Mono" !important;
}
.input__mobile .text_type_main-small {
    line-height: 0.8 !important;
}
button {
    transition: background-color 0.3s, box-shadow 0.3s, filter 0.3s, opacity 0.3s, background 0.3s !important;
}

@media (orientation: portrait), (max-width: 1150px) {
    .text_type_main-default {
        font-size: 13px !important;
    }
    .text_type_main-medium {
        font-size: 20px !important;
    }
    .text_type_main-large {
        font-size: 28px !important;
    }
    .text_type_digits-default {
        font-size: 22px !important;
    }
    .text_type_digits-large {
        font-size: 72px !important;
    }
}
